@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Trang Test"; // Dữ liệu cho tiêu đề trang
}
<h1>@ViewBag.Message</h1>
<p>Bạn có thể truy cập các đường dẫn sau:</p>
<ul>
    <li><a href="/Test/HelloWorld">/Test/HelloWorld</a></li>
    <li><a href="/Test/Welcome?name=Teo">/Test/Welcome?name=Teo</a></li>
</ul>
